@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    @*https://www.tinymce.com/docs/demo/custom-toolbar-button/*@
    <textarea id="churchNoteEditor"></textarea>
</div>

<script>
    addTiny('memberNoteEditor');
</script>