
@{
    Layout = "";
}

<!DOCTYPE html>
<html ng-app="appAcct" ng-controller="acctRequestController as arc">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Request Account</title>

    <link href="/Content/angular-material.css" rel="stylesheet" />
    <link href="/Content/angular-material.layout-attributes.css" rel="stylesheet" />
    <link href="/Content/angular-material.layouts.css" rel="stylesheet" />

    <link href="/content/app/app2.css" rel="stylesheet">
</head>
<body lang="en" layout="row" ng-init="arc.init()" ng-cloak>

    <div layout="column" flex id="wrapper">
        <div ng-include="'/appAcct/toolbarHeader.html'"></div>

        <div class="content">

            <div class="loginContainer">
                <h1>Success!</h1>
                <small>Your account request has been submitted!</small>
            </div>
        </div>
    </div>

    <script src="/Content/libs/jquery/jquery-1.11.0.min.js"></script>
    <script src="/Content/libs/encoder/encoder.min.js"></script>

    <script src="/Content/libs/angular/angular.min.js"></script>
    <script src="/Content/libs/angular/angular-animate.min.js"></script>
    <script src="/Content/libs/angular/angular-aria.min.js"></script>
    <script src="/Content/libs/angular/angular-material.min.js"></script>
    <script src="/Content/libs/angular/angular-messages.min.js"></script>
    <script src="/Content/libs/angular/angular-material-icons.min.js"></script>

    <script src="/appAcct/appAcct.js"></script>
    <script src="/appAcct/acctRequestController.js"></script>
</body>
</html>
