@model IEnumerable<NtccSteward.Core.Models.Members.Member>

@{
    ViewBag.Title = "Members";
}

<span class="sectionTitle">Member List</span>

<div id="mem">

    <form class="form-inline">

        @*How to filter a table with JavaScript:*@
        @*http://www.w3schools.com/howto/howto_js_filter_table.asp*@
        <input type="text" id="memberSearch" class="form-control" style="padding:3px;width:300px;margin-bottom:4px;margin-left:0px;" placeholder="Full Name Search"
               oninput="FilterTable('memberTbl', this.value, 'Full Name')" />

        <a href="#newMember" data-toggle="modal" onclick="OpenNewMemberForm();return false;">Add Member</a>
        @*<img src="~/images/placeholder.gif" class="toolbarIcon add" alt="Add" title="Add Member" style="margin-left:10px;" />*@
    </form>

    <table id="memberTbl" class="table table-sm table-hover table-bordered">

        <thead class="thead-default">
            <tr>
                <th>
                    Full Name
                </th>
                <th class="hideXs">
                    Status
                </th>
            </tr>
        </thead>

        @foreach (var m in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(m.FullName, "Edit", "Members")
                </td>
                <td class="hideXs">
                    @Html.DisplayText(m.Status)
                </td>
            </tr>
        }
    </table>
</div>

<input type="hidden" id="memberId" />


<div class="modal fade" id="newMember">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Member</h4>
            </div>

            <div class="modal-body">
                <form class="form" id="addMemberForm">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="dateCame" class="labelNormal">Date Came</label>
                                <input type="text" class="form-control" id="dateCame" name="dateCame" placeholder="Enter date" />
                            </div>
                            <div class="col-sm-2">
                                <label for="isGroup" class="labelNormal" style="margin-left:8px;">Is group?</label>
                                <div class="checkbox" style="margin-top:4px;margin-left:28px;">
                                    <label><input type="checkbox" id="isGroup" /></label>
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding-left:0px;">
                                <label for="prayed" class="labelNormal">Prayed?</label>
                                <div class="checkbox" style="margin-top:4px;margin-left:20px;">
                                    <label><input type="checkbox" id="prayed" /></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                &nbsp;
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="firstName" class="labelNormal">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" />
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="labelNormal">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 0px !important;">
                        <div class="row">
                            <div class="col-sm-9">
                                <label for="line1" class="labelNormal">Address</label>
                                <input type="text" class="form-control" id="line1" placeholder="Enter line 1" />
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control addyGutter" id="city" placeholder="City" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control addyGutter" id="state" placeholder="State" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control addyGutter" id="zip" placeholder="Zip" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="Phone" class="labelNormal">Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="Enter Phone" />
                                <input type="text" class="form-control addyGutter" id="phone2" placeholder="Enter Phone" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="labelNormal">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
                    </div>

                    <div class="form-group">
                        <label for="sponsor" class="labelNormal">Sponsor</label>
                        <input type="text" class="form-control" id="sponsor" name="sponsor" placeholder="Enter sponsor" />
                    </div>

                    <div class="clearfix" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="SaveNewMember(false)">Save</button>
                <button type="button" class="btn btn-primary" onclick="SaveNewMember(true)">Save &amp; Open</button>
                <button type="button" class="btn btn-default" onclick="SaveNewMemberAdd()">Save &amp; Add Another</button>
                <button type="button" class="btn btn-default" onclick="CloseNewMember()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts {
    @*<script src="~/Scripts/tinymce-builded/js/tinymce/jquery.tinymce.min.js"></script>*@
    <script src="~/Scripts/member.js"></script>

    <script type="text/javascript">

           initializeNewMember();

    </script>
}


