@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Help Page";
}

<span class="sectionTitle">Help</span>

<p>
    This is the help page!  Help topics and FAQ's will be found here.  :)
</p>
<p>
    To provide the developer with feedback, email <a href="mailto:garyalima@icloud.com?Subject=Hi%20Gary!" target="_top">Gary</a> directly!
</p>