
@{
    ViewBag.Title = "Request Account";
}

<p> 
    Your account request has been submitted!
</p>

<p>
    Someone will review your request and get back with you.
</p>

<p>
    Thank you!
</p>

<p>
    <a class="text-center" href="@Url.Action("Index", "Account")">Return to the log in page</a>
</p>

