@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<span class="sectionTitle">Perspectives</span>

This is the Perspectives page, where reports will be listed.  Reports provide different perspectives of your members and your church!
<br /><br />
Examples of perspectives that you may find:
<ul>
    <li>Visitor letters</li>
    <li>Pastor's Weekly Visitation List</li>
    <li>Lay Pastor's Visitation List</li>
    <li>Minister's Faithful Checklist</li>
    <li>Lay Pastor's Faithful Checklist</li>
    <li>Soulwinning Attendance List</li>
    <li>Pastoral Follow Up</li>
</ul>