

<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{siteName}</title>

    <link href="/Content/angular-material.css" rel="stylesheet" />
    <link href="/Content/angular-material.layout-attributes.css" rel="stylesheet" />
    <link href="/Content/angular-material.layouts.css" rel="stylesheet" />

    <link href="/content/app/app2.css" rel="stylesheet">
</head>
<body lang="en" layout="row">
    <div layout="column" flex id="wrapper">
        <div ng-include="'/Content/app/toolbarHeader.html'"></div>

        <div class='container page-consent' ng-cloak flex>
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-default consent-buttons" ng-show="model.identityScopes">
                        <md-toolbar layout="row" md-colors="::{background: 'default-accent-500-1'}">
                            <div class="md-toolbar-tools">
                                <span>Terms of Use</span>
                            </div>
                        </md-toolbar>

                        <md-content class="permissionsContainer">
                            This website is for use by New Testament Christian Church pastors, associated ministers, and designated members.
                        <md-content>
                    </div>


                    <div ng-show="model.errorMessage" class="alert alert-danger">
                        <strong>Error:</strong>
                        {{model.errorMessage}}
                    </div>

                    <form name="form" method="post" action="{{model.consentUrl}}" class="consent-form">
                        <anti-forgery-token token="model.antiForgery"></anti-forgery-token>

                        <div class="panel panel-default consent-buttons" ng-show="model.identityScopes">
                            <md-toolbar layout="row" md-colors="::{background: 'default-accent-500-1'}">
                                <div class="md-toolbar-tools">
                                    <span>Personal Information</span>
                                </div>
                            </md-toolbar>

                            <md-content>
                                <md-list flex>
                                    <md-list-item class="permissionsListItem" ng-repeat="scope in model.identityScopes" ng-click="null">

                                        <input class="consent-scopecheck" type="checkbox" name="scopes" id="scopes_{{scope.name}}" value="{{scope.name}}" ng-model="scope.selected" ng-disabled="scope.required" ng-hide="true"/>

                                        <md-switch class="md-primary" style="min-height:20px;" value="{{scope.name}}" ng-model="scope.selected" ng-disabled="true">
                                            {{scope.displayName}}
                                        </md-switch>

                                        <span ng-show="scope.required" class="scopeRequired"><em>(required)</em></span>
                                        <div ng-show="scope.description" class="scopeDescription">
                                            <label for="scopes_{{scope.name}}">{{scope.description}}</label>
                                        </div>                                     

                                    </md-list-item>
                                    <md-divider></md-divider>
                                </md-list>
                            </md-content>
                        </div>

                        <div class="panel panel-default" ng-show="model.resourceScopes" ng-hide="false">
                           
                            <md-toolbar layout="row" md-colors="::{background: 'default-accent-500-1'}">
                                <div class="md-toolbar-tools">
                                    <span>Application Access</span>
                                </div>
                            </md-toolbar>


                                <md-content>
                                    <md-list flex>
                                        <md-list-item class="permissionsListItem" ng-repeat="scope in model.resourceScopes" ng-click="null">

                                            <input class="consent-scopecheck" type="checkbox" name="scopes" value="{{scope.name}}" ng-model="scope.selected" ng-disabled="scope.required" ng-hide="true"/>

                                            <md-switch class="md-primary" value="{{scope.name}}" ng-model="scope.selected" ng-disabled="true">
                                                {{scope.displayName}}
                                            </md-switch>

                                            <span ng-show="scope.required" class="scopeRequired"><em>(required)</em></span>
                                            <div ng-show="scope.description" class="scopeDescription">
                                                <label for="scopes_{{scope.name}}">{{scope.description}}</label>
                                            </div>
                                        </md-list-item>
                                        <md-divider></md-divider>
                                    </md-list>
                                </md-content>
                        </div>

                        <div class="consentRememberContainer" ng-show="model.allowRememberConsent">
                            <input class="consent-scopecheck" type="checkbox" name="RememberConsent" value="true" ng-model="model.rememberConsent" ng-hide="true" />

                            <md-switch class="md-primary" ng-value="true" ng-model="model.rememberConsent">
                                <span ng-if="!model.rememberConsent">Do Not </span>Remember My Decision
                            </md-switch>
                        </div>


                        <div class="consentButtons">
                            <md-button type="submit" name="button" value="yes" md-autofocus>Yes, Allow</md-button>
                            <md-button type="submit" name="button" value="no">No, Do Not Allow</md-button>
                            <!--<button name="button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
                            <button name="button" value="no" class="btn">No, Do Not Allow</button>-->

                            <a class="pull-right btn btn-default" target="_blank" ng-show="model.clientUrl" ng-href="{{model.clientUrl}}">
                                <strong>{{model.clientName}}</strong>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script id='modelJson' type='application/json'>
        {model}
    </script>


    <script src="/Content/libs/jquery/jquery-1.11.0.min.js"></script>
    <script src="/Content/libs/encoder/encoder.min.js"></script>

    <script src="/Content/libs/angular/angular.min.js"></script>
    <script src="/Content/libs/angular/angular-animate.min.js"></script>
    <script src="/Content/libs/angular/angular-aria.min.js"></script>
    <script src="/Content/libs/angular/angular-material.min.js"></script>
    <script src="/Content/libs/angular/angular-messages.min.js"></script>
    <script src="/Content/libs/angular/angular-material-icons.min.js"></script>

    <script src="/content/app/app.js"></script>

</body>
</html>