<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{siteName}</title>

    <!--<link href="/Content/libs/bootstrap/bootstrap.min.css" rel="stylesheet" />-->
    <link href="/Content/angular-material.css" rel="stylesheet" />
    <link href="/Content/angular-material.layout-attributes.css" rel="stylesheet" />
    <link href="/Content/angular-material.layouts.css" rel="stylesheet" />

    <!--<link href="/content/app/app.css" rel="stylesheet">-->
    <link href="/content/app/app2.css" rel="stylesheet">
</head>
<body lang="en" layout="row">
    <div layout="column" flex id="wrapper">
        <div ng-include="'/Content/app/toolbarHeader.html'"></div>

        <div layout="column"
             layout-gt-xs="row"
             layout-align="start start"
             flex>

            <!-- left panel -->
            <div layout="column"
                 flex flex-gt-xs="50"
                 class="maxWidth">


                <form name="form" method="post" action="{{model.loginUrl}}" class="maxWidth">
                    <anti-forgery-token token="model.antiForgery"></anti-forgery-token>

                    <!--<div ng-hide="true">
                    {{ model.rememberMe = true; }}
                </div>-->

                    <fieldset class="maxWidth">
                        <h3 >I Have An Account</h3>

                        <div class="form-group">
                            <!--<label for="username">Username</label>
                        <input required name="username" autofocus id="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" maxlength="100">-->

                            <md-input-container class="logInControlContainer">
                                <label>Email Address</label>
                                <input type="email" ng-model="model.Username" name="username" id="username" min="5" ng-maxlength="50"
                                       ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                                        md-autofocus />
                                <div class="hint" ng-show="showHints">user@email.com</div>
                                <div ng-messages="form.email.$error">
                                    <div ng-message="maxlength">50 characters max</div>
                                    <div ng-message="pattern">Invalid email address</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="form-group">
                            <!--<label for="password">Password</label>
                        <input required id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" maxlength="100" autocomplete="off">-->

                            <md-input-container class="logInControlContainer">
                                <label>Password</label>
                                <input type="password" ng-model="model.password" name="password" id="password" min="1" ng-maxlength="50" />
                                <div ng-messages="form.password.$error">
                                    <div ng-message="minlength">At least 1 character is required</div>
                                    <div ng-message="maxlength">50 characters max</div>
                                </div>
                            </md-input-container>

                        </div>
                        <div class="form-group login-remember" ng-show="model.allowRememberMe">
                            <!--<label for="rememberMe">
                            <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="model.rememberMe" value="true">
                            <strong>Remember My Login</strong>
                        </label>-->

                            <md-switch class="md-primary" name="rememberMe" id="rememberMe" ng-model="model.rememberMe">
                                <span ng-if="!model.rememberMe">Do Not </span>Remember My Login
                            </md-switch>
                        </div>
                        <div class="form-group">
                            <!--<button class="btn btn-primary" ng-disabled="form.$invalid">Login</button>-->
                            <md-button type="submit" ng-disabled="form.$invalid">Login</md-button>
                        </div>

                        <div layout="row" ng-show="model.errorMessage">
                            <p style="color:red;">
                                <strong>Error:</strong>
                                {{model.errorMessage}}
                            </p>
                        </div>
                    </fieldset>
                </form>



            </div>

            <!-- right panel -->
            <div layout="column" layout-align="start stretch"
                 flex flex-gt-sm="50" class="maxWidth haveAnAcctContainer">

                <div class="maxWidth">
                    <h3>I Have An Account</h3>
                    <md-button>Request an Account</md-button>

                    <p style="margin-top:30px;">
                        Request a new account today to start enjoying the benefits of using a website that is designed to help you run your church effectively!
                    </p>

                    <ul class="standard">
                        <li>Keep track of the important information about your church members, such as their address, phone number, email address, etc.</li>
                        <li>Keep track of activities, such as who attended what church service and when.</li>
                        <li>Send out emails or text notifications to your church members individually or to a group.</li>
                        <li>Keep track of sponsors and their guests.</li>
                    </ul>

                    <p class="terms">
                        <a href="/Content/app/terms.html">Terms and Conditions</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
        <!--<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <span class="navbar-brand">{siteName}</span>
            </div>
            <ul class="nav navbar-nav" ng-show="model.currentUser" ng-cloak>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{model.currentUser}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{model.logoutUrl}}">Logout</a></li>
                        <li class="divider" ng-show="model.loginWithDifferentAccountUrl"></li>
                        <li><a href="{{model.loginWithDifferentAccountUrl}}" ng-show="model.loginWithDifferentAccountUrl">Login With Different Account</a></li>
                    </ul>
                </li>
            </ul>
        </div>-->
        <!--<div class="container">
            <div class="page-header">
                <h1>
                    This is a custom view on the log in page
                    <small ng-show="clientName"><strong>{clientName}</strong> is asking you to login</small>
                </h1>
            </div>
        </div>-->
        <!--<div class='container page-login' ng-cloak>
            <div class="page-header">
                <h1>Login</h1>
            </div>

            <div class="row" ng-show="model.errorMessage">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-danger">
                        <strong>Error:</strong>
                        {{model.errorMessage}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6" ng-show="model.loginUrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Local Login</h3>
                        </div>
                        <div class="panel-body">
                            <form name="form" method="post" action="{{model.loginUrl}}">
                                <anti-forgery-token token="model.antiForgery"></anti-forgery-token>

                                <fieldset>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input required name="username" autofocus id="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" maxlength="100">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input required id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" maxlength="100" autocomplete="off">
                                    </div>
                                    <div class="form-group login-remember" ng-show="model.allowRememberMe">
                                        <label for="rememberMe">
                                            <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="model.rememberMe" value="true">
                                            <strong>Remember My Login</strong>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" ng-disabled="form.$invalid">Login</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <ul class="list-unstyled">
                            <li ng-repeat="link in model.additionalLinks"><a ng-href="{{link.href}}">{{link.text}}</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>-->

        <script id='modelJson' type='application/json'>
            {model}
        </script>

    <!--</form>-->

        <script src="/Content/libs/jquery/jquery-1.11.0.min.js"></script>
        <!--<script src="/Content/libs/bootstrap/bootstrap.min.js"></script>-->
        <script src="/Content/libs/encoder/encoder.min.js"></script>

        <script src="/Content/libs/angular/angular.min.js"></script>
        <script src="/Content/libs/angular/angular-animate.min.js"></script>
        <script src="/Content/libs/angular/angular-aria.min.js"></script>
        <script src="/Content/libs/angular/angular-material.min.js"></script>
        <script src="/Content/libs/angular/angular-messages.min.js"></script>
        <script src="/Content/libs/angular/angular-material-icons.min.js"></script>

        <script src="/content/app/app.js"></script>

</body>
</html>