<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <appSettings>
    <add key="NtccStewardAPI" value="https://localhost:44352/"/>
    <add key="NtccStewardAngularApp" value="https://localhost:44363/"/>
    <add key="NtccStewardClientSecret" value="A2A50C47-2427-4E57-AA94-5A4C7A7A439E"/>
    <add key="NtccStewardIssuerUri" value="https://NtccStewardSts/identity"/>
    <add key="NtccStewardStsOrigin" value="https://localhost:44316/"/>
    <add key="NtccStewardSts" value="https://localhost:44316/identity"/>
    <add key="NtccStewardStsTokenEndpoint" value ="https://localhost:44316/connect/token"/>
    <add key="NtccStewardStsAuthorizationEndpoint" value="https://localhost:44316/connect/authorize"/>
    <add key="NtccStewardStsUserInfoEndpoint" value="https://localhost:44316/connect/userinfo"/>
    <add key="NtccStewardStsEndSessionEndpoint" value="https://localhost:44316/connect/endsession"/>
    <add key="NtccStewardStsRevokeTokenEndpoint" value="https://localhost:44316/connect/revocation"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>