@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<span class="sectionTitle">Terms of Use</span>

<p style="margin-left:4px;margin-top:5px;">
    This website is for use by New Testament Christian Church pastors, associated ministers, and designated members.
</p>
<p style="padding-top:30px;">
    @Html.ActionLink("Back to log-in", "Index", "Account")
</p>
    
